@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  img{
    @apply rounded-xl  print:break-inside-avoid print:block w-full;
    
  }
  strong{
    @apply text-blue-500;
  }
 a{
  @apply text-blue-500;
 }
 table {
  @apply w-full rounded-lg border-collapse ;
 }
 thead {
  @apply bg-blue-500/30 rounded-t-lg; 
 }
 th:first-child{
  @apply rounded-tl-lg;
 }
 table tbody {
  @apply rounded-b-lg;
  
 }


}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
}

