@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
      @apply text-lg leading-6;
    }
  img {
    @apply w-full  rounded-xl print:block print:break-inside-avoid;
  }
  strong {
    @apply text-blue-500;
  }
  a {
    @apply text-blue-500;
  }
  table {
    @apply w-full border-collapse rounded-lg;
  }
  thead {
    @apply rounded-t-lg bg-blue-500/30;
  }
  th:first-child {
    @apply rounded-tl-lg;
  }
  table tbody {
    @apply rounded-b-lg;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
